/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    max-height: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

main{
    min-width: 500px;
    padding-top: 80px;
}

ul{
    list-style: none;
}
/* COMMON */
.container{
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.item{
    width: calc(100% / 3 - 20px);
    margin: 20px 10px;
}
.card{
    position: relative;
}

.popover{
    position: absolute;
    left: 0;
    bottom: 30px;
}
.popover span{
    padding: 5px 10px;
    font-size: 0.7rem;
}

.whishlist{
    position: absolute;
    right: 0;
    top: 10px;
    background-color: white;
    font-size: 1.4rem;
    padding: 5px 10px;
}

.item-info a{
    font-size: 0.8rem;
}
.item-info h3{
    font-size: 0.9rem;
}
.item-info span{
    font-size: 0.8rem;
}
/* UTILITIES */
/* layout */
.flex{
    display: flex;
}
.x-align{
    justify-content: center;
}

.y-align{
    align-items: center;
}

.p-20{
    padding: 20px 10px 10px;
}
/* colors */
:root{
    --red: #FF0000;
    --green: #008000;
    --orange: #FF6900;
}

.bggreen{
    background-color: var(--green);
}
.bgred{
    background-color: var(--red);
}
.bgorange{
    background-color: var(--orange);
}
.bgblack{
    background-color: black;
}

.whitetext{
    color: white;
}

.newprice{
    color: var(--red);
    font-weight: bold;
    margin-right: 5px;
}

.oldprice{
    text-decoration: line-through;
}

/* IMGS */
.imghover{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.imgnormal{
    position: relative;
}

/* ADD WHISHLIST */
.hearthover{
    display: none;
}
.heartnormalnormal{
    position: relative;
}

/* HOVER FUNCTIONS */
.card:hover .imghover{
    display: inline-block;
}

.whishlist:hover .hearthover{
    display: inline-block;
}
.whishlist:hover .heartnormal{
    display: none;
}

.whishlist:hover{
    cursor: pointer;
}

/* HEADER */
header{
    height: 60px;
    min-width: 550px;
    position: fixed;
    width: 100%;
    z-index: 1;
    box-shadow: 1px 1px 2px gray;
}
.nav li{
    margin: 0 10px;
    font-size: 0.8rem;
    font-weight: bold;
    display: inline;
}

.logoboo{
    max-height: 50%;
}

.between{
    justify-content: space-between;
}

.myaccount span{
    margin: 10px;
}

/* FOOTER */
.legal{
    font-size: 0.5rem;
    padding: 10px 0;
}

.right-ft li{
    margin-right: 5px;
} 
.right-ft h6{
    font-size: 0.65rem;
}

.socials{
    padding: 5px 0;
}

